<div class="col-xl-6 offset-xl-3">
    <div class="card shadow-sm mt-4">
        <div class="card-header">
            <b>
                <i class="icon icon-login" style="font-size: 20px"></i>
                <span>用户登录</span>
            </b>
        </div>
        <div class="card-body">
            <form id="loginForm" action="/login/do" method="post">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label d-none d-md-block required text-right">账号：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" minlength="3" maxlength="20" name="passport" placeholder="请输入账号" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label d-none d-md-block required text-right">密码：</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" minlength="6" maxlength="20" name="password" placeholder="请输入密码" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label d-none d-md-block required text-right">验证码：</label>
                    <div class="col-md-9">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" minlength="4" maxlength="4" name="captcha" placeholder="请输入正确的验证码" required />
                            <div class="input-group-append">
                                <span class="input-group-text p-0">
                                    <img id="code-img" class="captcha" loading="lazy" onclick="gf.reloadCaptcha()" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 offset-md-3">
                        <button type="submit" class="btn btn-primary btn-block">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
