<div class="row gf-content">
    <div class="col-md-7 offset-md-1">
        <div class="gf-article-show">
            <div class="gf-title">
                [柬埔寨-西哈努克][15-25K]琥珀(JR)酒店产业联盟招聘 IOS开发工程师
            </div>
            <div class="gf-detail">
                <span>文章 / 3 / 100 / 发布于 1小时前</span>
            </div>
            <div class="gf-content">
                <div>
                    <p><code>GF(Go Frame)</code>是一款模块化、高性能、生产级的Go基础开发框架。实现了比较完善的基础设施建设以及开发工具链，提供了常用的基础开发模块，如：缓存、日志、队列、数组、集合、容器、定时器、命令行、内存锁、对象池、配置管理、资源管理、数据校验、数据编码、定时任务、数据库ORM、TCP/UDP组件、进程管理/通信等等。并提供了Web服务开发的系列核心组件，如：Router、Cookie、Session、Middleware、服务注册、模板引擎等等，支持热重启、热更新、域名绑定、TLS/HTTPS、Rewrite等特性。</p>
                    <blockquote>
                        <p>如果您初识<code>Go</code>语言，您可以将<code>GoFrame</code>类似于<code>PHP</code>中的<code>Laravel</code>, <code>Java</code>中的<code>SpringBoot</code>或者<code>Python</code>中的<code>Django</code>。</p>
                    </blockquote>
                    <h1 id="tip0">特点</h1>
                    <ul>
                        <li>模块化、松耦合设计；</li>
                        <li>模块丰富、开箱即用；</li>
                        <li>简便易用、易于维护；</li>
                        <li>高代码质量、高单元测试覆盖率；</li>
                        <li>社区活跃，大牛谦逊低调脾气好；</li>
                        <li>详尽的开发文档及示例；</li>
                        <li>完善的本地中文化支持；</li>
                        <li>设计为团队及企业使用；</li>
                    </ul>
                    <h1 id="tip0">特点</h1>
                    <ul>
                        <li>模块化、松耦合设计；</li>
                        <li>模块丰富、开箱即用；</li>
                        <li>简便易用、易于维护；</li>
                        <li>高代码质量、高单元测试覆盖率；</li>
                        <li>社区活跃，大牛谦逊低调脾气好；</li>
                        <li>详尽的开发文档及示例；</li>
                        <li>完善的本地中文化支持；</li>
                        <li>设计为团队及企业使用；</li>
                        <li>模块化、松耦合设计；</li>
                        <li>模块丰富、开箱即用；</li>
                        <li>简便易用、易于维护；</li>
                        <li>高代码质量、高单元测试覆盖率；</li>
                        <li>社区活跃，大牛谦逊低调脾气好；</li>
                        <li>详尽的开发文档及示例；</li>
                        <li>完善的本地中文化支持；</li>
                        <li>设计为团队及企业使用；</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="gf-user">
            <div class="gf-user-title">
                资料卡
            </div>
            <div>
                <img onclick="window.location.href='user'" class="gf-user-img image-border circle-image topic-list-author-avatar" src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100">
            </div>
            <div class="row gf-user-statistics">
                <div class="col">
                    <div>文章</div>
                    <div>30</div>
                </div>
                <div class="col">
                    <div>粉丝</div>
                    <div>12</div>
                </div>
                <div class="col">
                    <div>喜欢</div>
                    <div>200</div>
                </div>
            </div>
            <div class="gf-user-detail">
                <h3>程序员小助手 <span class="icon iconfont">&#xe646;</span></h3>
                <p><span class="icon iconfont">&#xe638;</span> 北京</p>
                <p><span class="icon iconfont">&#xe60c;</span> author.baidu.com/home</p>
                <p><span class="icon iconfont">&#xe645;</span> 24小时前</p>
            </div>
            <div>
                <div class="row" style="margin:10px 0;">
                    <button style="width: 100%;" class="btn btn-outline-secondary" type="submit"><span class="icon iconfont">&#xe666</span> 关注</button>
                </div>
                <div class="row" style="margin:10px 0;">
                    <button style="width: 100%;" class="btn btn-outline-secondary" type="submit"><span class="icon iconfont">&#xe61c;</span> 私信</button>
                </div>
            </div>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>
