<!--- main --->
<div class="row gf-list">
    <div class="col-md-7 offset-md-1">
        <ul class="list-group">
            ${range $index, $item := .Data.List}
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img onclick="window.location.href='user'"
                         src="${$item.User.Avatar}"
                         style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
                            <a href="/article/${$item.Content.Id}" style="color: #222;">
                                ${$item.Content.Title}
                                <span class="gf-article-new">new</span>
                            </a>
                        </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">${$.BuildIn.FormatTime $item.Content.CreatedAt}</span>
                    </div>
                </div>
            </li>
            ${end}
            ${if gt .Data.Total 1}
            <li class="list-group-item gf-list-item">
                <ul class="pagination">
                    ${.BuildIn.Page .Data.Total .Data.Size }
                </ul>
            </li>
            ${end}
        </ul>
    </div>

    <div class="col-md-3">

        <div class="card gf-card" style="background: #fff;padding: 10px;">
            <a class="btn btn-primary" onclick="window.location.href='/article/publish'"
               href="javascript:void(0);">发布帖子</a>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>