<div class="row gf-list">
    <div class="col-md-2 offset-md-1">
        {{include "web/user/user_menu.html" .}}
    </div>
    <div class="col-md-8">
        <div class="card gf-person">
            <div class="card-header">
                <span class="iconfont">&#xe717;</span> 我的问答
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {{include "web/user/user_content_list.html" .}}
                </ul>
            </div>
        </div>
    </div>

</div>
<script>
    $("#user-ask").addClass("active")
</script>