<div class="row gf-list">
    <div class="col-md-2 offset-md-1">
        <div class="card gf-card">
            <div class="card-header">Ta的创作</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe622;</span> <a href="">基本资料</a></li>
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe61c;</span> <a href="">Ta的文章</a> <span class="badge badge-primary" style="float: right;">12</span></li>
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe647;</span> <a href="">Ta的话题</a> <span class="badge badge-primary" style="float: right;">13</span></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">Ta的关系</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe61c;</span> <a href="">Ta的关注</a> <span class="badge badge-primary" style="float: right;">12</span></li>
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe647;</span> <a href="">Ta的粉丝</a> <span class="badge badge-primary" style="float: right;">13</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item gf-list-item">
                个人签名：专注编程知识，圈子动态的IT领域原创作者
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-primary" style="padding:5px;">文章</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a  onclick="window.location.href='article.html'" href="javascript:void(0);" style="color: #222;">Vue+Laravel 个人博客，针对爬虫....<span class="gf-article-new">new</span></a>
                        </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/57343_1581322746.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-primary" style="padding:5px;">文章</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">没有学历真的是硬伤。
<span class="gf-article-new">new</span></a>
                        </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/57343_1581322746.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                        </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/1_1530614766.png!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-primary" style="padding:5px;">文章</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                        </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                      </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                    </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                  </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
              </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 10px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-success" style="padding:5px;">问答</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
<a href="/posts/4" style="color: #222;">Vue+Laravel 个人博客，针对爬虫做....</a>
                </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>

            <li class="list-group-item gf-list-item">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>

        </ul>
    </div>

    <div class="col-md-3">

        <div class="gf-user">
            <div class="gf-user-title">
                资料卡
            </div>
            <div>
                <img class="gf-user-img image-border circle-image topic-list-author-avatar" src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100">
            </div>
            <div class="row gf-user-statistics">
                <div class="col">
                    <div>文章</div>
                    <div>30</div>
                </div>
                <div class="col">
                    <div>粉丝</div>
                    <div>12</div>
                </div>
                <div class="col">
                    <div>喜欢</div>
                    <div>200</div>
                </div>
            </div>
            <div class="gf-user-detail">
                <h3>程序员小助手 <span class="icon iconfont">&#xe646;</span></h3>
                <p><span class="icon iconfont">&#xe638;</span> 北京</p>
                <p><span class="icon iconfont">&#xe60c;</span> author.baidu.com/home</p>
                <p><span class="icon iconfont">&#xe645;</span> 24小时前</p>
            </div>
            <div>
                <div class="row" style="margin:10px 0;">
                    <button style="width: 100%;" class="btn btn-outline-secondary" type="submit"><span class="icon iconfont">&#xe666</span> 关注</button>
                </div>
                <div class="row" style="margin:10px 0;">
                    <button style="width: 100%;" class="btn btn-outline-secondary" type="submit"><span class="icon iconfont">&#xe61c;</span> 私信</button>
                </div>
            </div>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>
