<div class="row">
    <div class="col-md-6 offset-md-2 gf-register">
        <div class="card">
            <div class="card-header">
                <span class="iconfont">&#xe647;</span> 用户注册
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" value="" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nickName" class="col-sm-2 col-form-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nickName" value="" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwd" class="col-sm-2 col-form-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="passwd" value="" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="code" class="col-sm-2 col-form-label">验证码</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="code" value="" placeholder="请输入正确的验证码">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> <img src="https://cdn.learnku.com//uploads/communities/sNljssWWQoW6J88O9G37.png!/both/44x44" width="100" height="24" alt="" loading="lazy"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 offset-md-2"> <button type="submit" class="btn btn-primary btn-block">注册</button></div>
                        <div class="col-sm-3 offset-md-1"> <button type="submit" class="btn btn-secondary btn-block">放弃</button></div>
                    </div>


                    <div class="form-group row">

                    </div>
                </form>
                <p class="card-text" style="color: red;">1. 请填写真实邮箱，并及时确认。</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card gf-card" style="background: #fff;padding: 10px;">
            <a class="btn btn-primary" onclick="window.location.href='publish.html'" href="javascript:void(0);">发布帖子</a>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>
