<div class="card gf-card" style="margin: 0">
    <div class="card-header">我的资料</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item gf-list-item" id="user-profile"><span class="icon iconfont">&#xe622;</span> <a
                    href="/user/profile">基本资料</a>
        </li>
        <li class="list-group-item gf-list-item" id="user-avatar"><span class="icon iconfont">&#xe622;</span> <a
                    href="/user/avatar">修改头像</a>
        </li>
        <li class="list-group-item gf-list-item" id="user-passwd"><span class="icon iconfont">&#xe622;</span> <a
                    href="/user/passwd">修改密码</a>
        </li>
        <li class="list-group-item gf-list-item" id="user-article"><span class="icon iconfont">&#xe61c;</span> <a
                    href="/user/article">我的文章</a> <span
                    class="badge badge-primary" style="float: right;">12</span>
        </li>
        <li class="list-group-item gf-list-item" id="user-message"><span class="icon iconfont">&#xe647;</span> <a
                    href="/user/message">我的消息</a> <span
                    class="badge badge-primary" style="float: right;">13</span>
        </li>
    </ul>
</div>