<div class="row gf-content">
    <div class="col-md-9">
        <div class="gf-article-show">
            <div class="gf-title">
                ${.Data.Content.Title}
            </div>
            <div class="gf-detail">
                <span>
                    浏览：${.Data.Content.ViewCount} &nbsp;/&nbsp;
                    回复：${.Data.Content.ReplyCount} &nbsp;/&nbsp;
                    赞：${.Data.Content.ZanCount} &nbsp;/&nbsp;
                    踩：${.Data.Content.CaiCount} &nbsp;/&nbsp;
                    发布于 ${.Data.Content.CreatedAt | .BuildIn.FormatTime}
                </span>
            </div>
            <div class="gf-content">
                ${.Data.Content.Content}
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="gf-user">
            <div class="gf-user-title">
                资料卡
            </div>
            <div>
                <a href="/user/${.Data.User.Id}" target="_blank">
                <img class="gf-user-img image-border circle-image topic-list-author-avatar" src="${.Data.User.Avatar}">
                </a>
            </div>
            <div class="row gf-user-statistics">
                <div class="col">
                    <div>文章</div>
                    <div>30</div>
                </div>
                <div class="col">
                    <div>粉丝</div>
                    <div>12</div>
                </div>
                <div class="col">
                    <div>喜欢</div>
                    <div>200</div>
                </div>
            </div>
            <div class="gf-user-detail">
                <h3>程序员小助手 <span class="icon iconfont">&#xe646;</span></h3>
                <p><span class="icon iconfont">&#xe638;</span> 北京</p>
                <p><span class="icon iconfont">&#xe60c;</span> author.baidu.com/home</p>
                <p><span class="icon iconfont">&#xe645;</span> 24小时前</p>
            </div>
            <div>
                <div class="row" style="margin:10px 0;">
                    <button style="width: 100%;" class="btn btn-outline-secondary" type="submit"><span class="icon iconfont">&#xe666</span> 关注</button>
                </div>
                <div class="row" style="margin:10px 0;">
                    <button style="width: 100%;" class="btn btn-outline-secondary" type="submit"><span class="icon iconfont">&#xe61c;</span> 私信</button>
                </div>
            </div>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>
