{{ include "index/partials/site-toolbar.html" . }}

<footer class="footer container-xl width-full p-responsive py-3">
  <p class="text-gray-light text-center mb-0 text-italic">Powered By <a class="link-gray" href="https://goframe.org/">GoFrame</a>.
  </p>
</footer>

<template id="site-details-dialog">
  <details class="details-reset details-overlay details-overlay-dark lh-default text-gray-dark hx_rsm" open>
    <summary role="button" aria-label="Close dialog"></summary>
    <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast hx_rsm-dialog hx_rsm-modal">
      <button class="Box-btn-octicon m-0 btn-octicon position-absolute right-0 top-0" type="button"
        aria-label="Close dialog" data-close-dialog>
        <svg class="octicon octicon-x" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
          </path>
        </svg>
      </button>
      <div class="loading-spinner position-absolute width-full height-full js-details-dialog-spinner"></div>
    </details-dialog>
  </details>
</template>
