<div class="Box">
  <div class="Box-header">
    社区赞助商
  </div>

  <ul class="d-flex flex-wrap sponsors">
    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/jetbrains.png?version=1&modificationDate=1608649325806&api=v2"
        alt="jetbrains" />
      <a class="stretched-link" href="https://www.jetbrains.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/u%3D605052180%2C3099422872%26fm%3D11%26gp%3D0.jpg?version=1&modificationDate=1608649343601&api=v2"
        alt="atlassian" />
      <a class="stretched-link" href="https://www.atlassian.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/jetbrains.png?version=1&modificationDate=1608649325806&api=v2"
        alt="jetbrains" />
      <a class="stretched-link" href="https://www.jetbrains.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/u%3D605052180%2C3099422872%26fm%3D11%26gp%3D0.jpg?version=1&modificationDate=1608649343601&api=v2"
        alt="atlassian" />
      <a class="stretched-link" href="https://www.atlassian.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/jetbrains.png?version=1&modificationDate=1608649325806&api=v2"
        alt="jetbrains" />
      <a class="stretched-link" href="https://www.jetbrains.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/u%3D605052180%2C3099422872%26fm%3D11%26gp%3D0.jpg?version=1&modificationDate=1608649343601&api=v2"
        alt="atlassian" />
      <a class="stretched-link" href="https://www.atlassian.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/jetbrains.png?version=1&modificationDate=1608649325806&api=v2"
        alt="jetbrains" />
      <a class="stretched-link" href="https://www.jetbrains.com/?from=GoFrame"></a>
    </li>

    <li class="sponsor-item">
      <img
        src="https://itician.org/download/thumbnails/1114119/u%3D605052180%2C3099422872%26fm%3D11%26gp%3D0.jpg?version=1&modificationDate=1608649343601&api=v2"
        alt="atlassian" />
      <a class="stretched-link" href="https://www.atlassian.com/?from=GoFrame"></a>
    </li>
  </ul>

  <div class="Box-footer">
    <a href="https://itician.org/pages/viewpage.action?pageId=1115633" target="__blank" class="f6">
      成为赞助商<svg height="14" class="octicon octicon-chevron-right ml-1" viewBox="0 0 16 16" version="1.1" width="14"
        aria-hidden="true">
        <path fill-rule="evenodd"
          d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
        </path>
      </svg>
    </a>
  </div>
</div>
