html,
body {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial;
    background-color: #e5e5e5;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2e3135;
}

a:hover {
    color: #007fff;
    text-decoration: none;
}

@media (max-width: 576px) {
    .px-xs-0 {
        padding-left: 0;
        padding-right: 0;
    }
}

.icon,
.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
    -webkit-text-stroke-width: 0 !important;
    user-select: none;
}

.gf-navbar {
    min-height: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.gf-navbar .dropdown-menu {
    z-index: 2000;
}

.gf-navbar .nav-item .dropdown-menu {
    min-width: initial;
}

.gf-search-input {
    width: 8rem;
}

.gf-content {
    -ms-flex-order: 1;
    order: 1;
}

.gf-sidebar {
    -ms-flex-order: 2;
    order: 2;
}

.gf-sidebar .icon {
    font-size: 20px;
}

@media (min-width: 768px) {
    .gf-navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
    }

    .gf-content {
        min-height: calc(100vh - 4rem);
    }

    .gf-content .sticky-top {
        top: 4rem;
    }

    .gf-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
    }

    .gf-sidebar .sticky-top {
        top: 5rem;
    }

    .gf-search-input {
        width: 11rem;
    }
}

@media (max-width: 991.98px) {
    .gf-navbar {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .gf-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: 0.25rem;
        overflow: hidden;
    }

    .gf-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 1200px) {
    .gf-sidebar {
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
    }
}

.gf-copyright .more-list {
    list-style: none;
    font-size: 13px;
    line-height: 1.6;
    color: #9aa3ab;
}

.gf-copyright .more-list li {
    float: left;
}

.gf-copyright .more-list a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}

.gf-copyright .more-list a:hover {
    color: #007fff;
}

.dropdown-no-arraw::after {
    display: none !important;
}

.captcha {
    height: calc(2.1rem + 2px);
    border-radius: 2px;
    cursor: pointer;
}

div.validation-error-block {
    width: 100%;
    color: #dc3545;
    font-size: 0.875rem;
    margin: 5px 0 0;
}

.sponsors .card-header {
    border-bottom: 0;
}

.sponsors::first-line {
    border-top-color: red;
}

.sponsor-item {
    flex: 0 0 33.3333%;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 !important;
}

.sponsor-item:nth-child(even) {
    border-right: 0;
}

.sponsor-item img {
    width: 100%;
}

@media (min-width: 768px) {
    .sponsor-item {
        flex: 1 1 126px;
        width: 126px;
        height: 126px;
    }
}

.list-nav-scroll {
    position: relative;
    max-width: 100%;
    height: 2.5rem;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
}

.list-nav-scroll::before,
.list-nav-scroll::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2.5rem;
    pointer-events: none;
}

.list-nav-scroll::before {
    left: 0;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 60%);
}

.list-nav-scroll::after {
    right: 0;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 60%);
}

.list-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.list-nav li {
    flex: 1 1 auto;
    text-align: center;
}

.list-nav .nav-link {
    border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
}

@media (min-width: 768px) {
    .list-nav-scroll::before,
    .list-nav-scroll::after {
        content: none;
    }

    .list-nav li {
        flex: 0 0 auto;
    }
}

.list-nav,
.list-sort {
    display: flex;
    align-items: center;
}

.list-sort {
    padding: 0.5rem 1rem;
    font-size: 14px;
    justify-content: flex-end;
    background-color: #fff;
}

.list-sort b {
    color: #6c757d;
    margin-right: 0.5rem;
}

.list-sort .sort-link::after {
    content: '';
    display: inline-block;
    margin: 0.5rem;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 2px solid #909090;

    vertical-align: middle;
}

.list-sort li:last-child .sort-link:after {
    content: none;
}

.list-nav .nav-link,
.list-sort .sort-link {
    color: #909090;
    text-decoration: dashed;
}

.list-nav li:last-child .nav-link {
    border-right: 0;
}

.list-nav .nav-link:hover,
.list-nav .nav-link.active,
.list-sort .sort-link:hover,
.list-sort .sort-link.active {
    color: #007fff;
}

.gf-list-group.list-group-flush > .list-group-item {
    border-width: 1px 0 0;
}

.gf-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    line-height: 1.2;
}

.gf-list-item .meta-row {
    font-size: 0.875rem;
    color: #b2bac2;
}

.gf-list-item .meta-row a {
    color: inherit;
}

.gf-list-item .meta-row a:hover {
    color: #007fff;
}

.gf-list-item .meta-list {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

.gf-list-item .meta-list li + li::before {
    content: '·';
    margin: 0 0.2rem;
    color: #b2bac2;
}

.gf-list-item .author-info {
    display: flex;
    align-items: center;
}

.gf-list-item .author-avatar {
    display: inline-block;
    margin-right: 0.5rem;
    width: 28px;
    height: 28px;
    /* border-radius: 50%; */
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #b2bac2;
}

.gf-list-item .author-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gf-list-item .info-row {
    margin: 0.5rem 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gf-list-item .title {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #2e3135;
}

.gf-list-item .title:hover {
    text-decoration: underline;
}

.gf-list-item .title:visited {
    color: #909090;
}

.gf-list-item .description {
    font-size: 13px;
    color: #b2bac2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gf-list-item .count-row {
    font-size: 0.875rem;
    color: #999;
}

.gf-list-item .count-list {
    display: flex;
    white-space: nowrap;
}

.gf-list-item .count-list li {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border: 1px solid #edeeef;
}

.gf-list-item .count-list li + li {
    border-left: 0;
}

.gf-list-item .count-list .icon {
    font-size: 18px;
}

.gf-list-item .count-list span {
    margin-left: 0.5rem;
}

/* 移除圆角 */
.card,
.nav-tabs .nav-link {
    border-radius: 0 !important;
}

.vditor,
.btn,
.dropdown-menu,
.list-group,
.form-control,
.input-group-text,
.breadcrumb {
    border-radius: 0;
}
