<link rel="stylesheet" href="/plugin/prism/prism.css">
<script src="/plugin/prism/prism.js"></script>

<link rel="stylesheet" href="/css/vditor.css"/>
<script src="/js/vditor.js" defer></script>

<div class="row gf-content">
    <div class="col-md-9">
        <div class="gf-article-show">
            <div class="gf-title">
                ${.Data.Content.Title}
            </div>
            <div class="gf-detail">
                <span>
                    浏览：${.Data.Content.ViewCount} &nbsp;/&nbsp;
                    回复：${.Data.Content.ReplyCount} &nbsp;/&nbsp;
                    赞：${.Data.Content.ZanCount} &nbsp;/&nbsp;
                    踩：${.Data.Content.CaiCount} &nbsp;/&nbsp;
                    发布于 ${.Data.Content.CreatedAt | .BuildIn.FormatTime}
                </span>
                ${if .Context.User}
                    ${if eq .Data.Content.UserId .Context.User.Id}
                    <span class="float-right">
                        <a href="/content/update?id=${.Data.Content.Id}">编辑</a>
                    </span>
                    ${end}
                ${end}
            </div>
            <div class="gf-content markdown-body" id="content">${.Data.Content.Content}</div>
        </div>
        <div class="gf-comment-list">
            <ul class="list-group">
                <li class="list-group-item">
                    共 ${.Data.Content.ReplyCount} 条回复
                </li>
                <li class="list-group-item">
                    <div class="reply" style="padding: 5px;width: 100%;">
                        <div class="reply-avatar" style="width: 100%;">
                            <a href="/users/1">
                                <img class="img-thumbnail"
                                     src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100"
                                     style="max-width:40px;border-radius: 120px;" alt="">
                            </a>
                            <a href="" class="text-dark font-weight-bold">u1440247613</a> <span
                                    class="text-success">#21</span> · <span class="text-secondary">20 天前</span>
                            <span class="badge badge-success">已采纳</span>
                        </div>
                        <div class="reply-content" style="padding: 5px;">
                            信息架构是啥话题？ 有相关的文章或书推荐么信息架构是啥话题？ 有相关的文章或书推荐么信息架构是啥话题？ 有相关的文章或书推荐么
                        </div>
                        <div class="reply-operating" style="padding: 5px">
                            <a href="" class="text-secondary" style="font-size: 14px;">采纳</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">回复</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">删除</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">踩(20)</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">赞(20)</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="reply" style="padding: 5px;width: 100%;">
                        <div class="reply-avatar" style="width: 100%;">
                            <a href="/users/1">
                                <img class="img-thumbnail"
                                     src="https://cdn.learnku.com/uploads/avatars/45384_1563461368.jpeg!/both/100x100"
                                     style="max-width:40px;border-radius: 120px;" alt="">
                            </a>
                            <a href="" class="text-dark font-weight-bold">u1440247613</a> <span
                                    class="text-success">#21</span> · <span class="text-secondary">20 天前</span>
                            <span class="badge badge-success">已采纳</span>
                        </div>
                        <div class="reply-content" style="padding: 5px;">
                            信息架构是啥话题？ 有相关的文章或书推荐么信息架构是啥话题？ 有相关的文章或书推荐么信息架构是啥话题？ 有相关的文章或书推荐么
                        </div>
                        <div class="reply-operating" style="padding: 5px">
                            <a href="" class="text-secondary" style="font-size: 14px;">采纳</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">回复</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">删除</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">踩(20)</a>
                            <a href="" class="text-secondary" style="font-size: 14px;">赞(20)</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    需要<a href="/user/login" class="btn btn-link">登录</a>
                    后方可回复, 如果你还没有账号请点击这里<a href="/user/register" class="btn btn btn-link">注册</a>。
                </li>
            </ul>
        </div>
        <div class="gf-comment-editor">
            <div id="vditor" class="mt-1"></div>
            <div style="background-color: white;padding: 10px;margin-bottom: 10px;" class="text-right">
                <button class="btn btn-primary btn-submit" type="submit">提交</button>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="gf-content-user">
            <div>
                <a href="/user/${.Data.User.Id}" target="_blank">
                    <img class="gf-content-user-img image-border circle-image topic-list-author-avatar"
                         src="${.Data.User.Avatar}">
                </a>
            </div>
            <div class="gf-user-detail">
                <h3>${.Data.User.Nickname} <span class="icon iconfont">&#xe646;</span></h3>
            </div>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="application/javascript">
$(function () {
    // 解析Markdown
    $('.markdown-body').each(function(i, block) {
        if ($(block).attr("parsed") == undefined) {
            $(block).html(marked($(block).html()))
            $(block).find('pre code').each(function(i, block) {
                Prism.highlightElement(block);
            });
            $(block).attr("parsed", "true")
        }
    });

    let editor = new Vditor('vditor', {
        theme: 'classic',
        height: 300,
        icon: 'ant',
        cache: {enable: false},
        placeholder: "~请开始你的表演...",
        toolbar: [
            'emoji',
            'headings',
            'bold',
            'italic',
            'strike',
            '|',
            'line',
            'quote',
            'list',
            'ordered-list',
            'check',
            'outdent',
            'indent',
            'code',
            'inline-code',
            'insert-after',
            'insert-before',
            'undo',
            'redo',
            'upload',
            'link',
            'table',
            'fullscreen'
        ],
        upload: {
            // 附件格式
            accept: 'image/*',
            // 上传路径
            url: '/file/upload',
            // 粘贴图片上传
            linkToImgUrl: '/file/upload',
            filename(name) {
                return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').replace('/\\s/g', '')
            },
            // 格式化上传返回
            format(file, response) {
                const {code, data, msg} = JSON.parse(response)
                return JSON.stringify({msg, code, data: {errFiles: [], succMap: {"image.png": data.Url}}})
            }
        },
    });

    $('.btn-submit').on('click', function () {
        if (!editor.getHTML()) return;
        $('button[type=submit]').attr('disabled', 'true');
        jQuery.ajax({
            type: 'POST',
            url: '/reply/do-create',
            data: {
                parent_id: 0,
                content: editor.getHTML(),
                target_id: "${.Data.Content.Id}",
                content_type: "${.Data.Content.Type}",
            },
            success: function (data) {
                $('button[type=submit]').removeAttr('disabled');
                if (data.code === 0) {
                    alert(data.message)
                } else {
                    alert(data.message)
                }
            },
            error: function (html) {
            }
        });
    })
})
</script>
