{{range $index, $item := .Data.List}}
    <li class="list-group-item gf-list-item">
        <div class="gf-list-item-img">
            <img src="{{$item.User.Avatar}}" style="height: 36px;width:36px;">
        </div>
        <div class="gf-list-item-text">
            <div class="float-left">
                <span class="badge badge-primary">{{$item.Category.Name}}</span>
                <span class="gf-list-item-title">
                            <a href="/{{$item.Category.ContentType}}/{{$item.Content.Id}}"
                               style="color: #222;">{{$item.Content.Title}}</a>
                        </span>
            </div>
            <div class="float-right">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">
                            <span class="icon iconfont">&#xe660;</span> {{$item.Content.ViewCount}}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="icon iconfont">&#xe6ab;</span> {{$item.Content.ReplyCount}}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        </span>
                <span style="font-size: 12px;color: #ccc;">{{$item.Content.CreatedAt | $.BuildIn.FormatTime}}</span>
            </div>
        </div>
    </li>
{{end}}

{{if gt .Data.Total .Data.Size}}
    <li class="list-group-item gf-list-item">
        <ul class="pagination">
            {{.BuildIn.Page .Data.Total .Data.Size }}
        </ul>
    </li>
{{end}}