<!--- main --->
<div class="row gf-list">
    <div class="col-md-9">
        <ul class="list-group">

            <li class="list-group-item">
                <div class="float-left">
                    <button class=" btn btn-link text-primary top-node-btn btn-sm" data-id="1">随聊</button>
                    <button class=" btn btn-link text-secondary top-node-btn btn-sm" data-id="5">翻译</button>
                    <button class=" btn btn-link text-secondary top-node-btn btn-sm" data-id="6">分享</button>
                    <button class=" btn btn-link text-secondary top-node-btn btn-sm" data-id="7">招聘</button>

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button"
                                class="btn btn-link text-secondary top-node-btn btn-sm dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            其他
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">其他1</a>
                            <a class="dropdown-item" href="#">其他2</a>
                        </div>
                    </div>
                </div>

                <div class="float-right">
                    <a class="btn btn-link {{if eq .Query.sort 0}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
                       href="/?cate={{.Query.cate}}&sort=0">最新</a>
                    <a class="btn btn-link {{if eq .Query.sort 1}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
                       href="/?cate={{.Query.cate}}&sort=1">活跃</a>
                    <a class="btn btn-link {{if eq .Query.sort 2}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
                       href="/?cate={{.Query.cate}}&sort=2">热度</a>
                </div>
            </li>

            {{range $index, $item := .Data.List}}
                <li class="list-group-item gf-list-item">
                    <div class="gf-list-item-img">
                        <img src="{{$item.User.Avatar}}" style="height: 36px;width:36px;">
                    </div>
                    <div class="gf-list-item-text">
                        <div class="float-left">
                            <span class="badge  {{if eq $item.Category.ContentType `ask`}}badge-primary{{else}}badge-success{{end}}">{{$item.Category.Name}}</span>
                            <span class="gf-list-item-title">
                            <a href="/{{$item.Category.ContentType}}/{{$item.Content.Id}}"
                               style="color: #222;" target="_blank">{{$item.Content.Title}}
                                        {{if  $item.Content.CreatedAt | $.BuildIn.IsNew }}<span class="gf-content-new">new</span>{{end}}</a>
                        </span>
                        </div>
                        <div class="float-right">
                                <span style="font-size: 12px;color: #ccc;text-align: right;">
                                    <span class="icon iconfont">&#xe660;</span> {{$item.Content.ViewCount}}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="icon iconfont">&#xe6ab;</span> {{$item.Content.ReplyCount}}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                </span>
                            <span style="font-size: 12px;color: #ccc;">{{$item.Content.CreatedAt | $.BuildIn.FormatTime}}</span>

                        </div>
                    </div>
                </li>
            {{end}}

            {{if gt .Data.Total .Data.Size}}
                <li class="list-group-item gf-list-item">
                    <ul class="pagination">
                        {{.BuildIn.Page .Data.Total .Data.Size }}
                    </ul>
                </li>
            {{end}}

        </ul>
    </div>

    <div class="col-md-3">

        <div class="card gf-card" style="background: #fff;padding: 10px;">
            <a class="btn btn-primary" onclick="window.location.href='/article/publish'"
               href="javascript:void(0);">发布帖子</a>
        </div>

        <div class="card gf-card sponsor-link">
            <div class="card-header">社区赞助商</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/assets/images/friends/cnodejs.png" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/uploads/banners/lHLqvDd0TQZD7CKdmguG.png" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/assets/images/friends/cnodejs.png" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/uploads/banners/lHLqvDd0TQZD7CKdmguG.png" class="img-fluid"></a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://goframe.org/joinus" target="_blank"><span class="icon iconfont">&#xe61c;</span> 提问的智慧</a></li>
                <li class="list-group-item"><a href="https://goframe.org/joinus" target="_blank"><span class="icon iconfont">&#xe647;</span> 加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card friendly-link">
            <div class="card-header">友情链接</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/assets/images/friends/cnodejs.png" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/uploads/banners/lHLqvDd0TQZD7CKdmguG.png" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/assets/images/friends/cnodejs.png" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img src="https://cdn.learnku.com/uploads/banners/lHLqvDd0TQZD7CKdmguG.png" class="img-fluid"></a></li>
            </ul>
        </div>
    </div>
</div>
