{{ include "index/partials/subnav.html" . }}

<div class="border-bottom border-gray-light">
  <div class="container-xl clearfix">
    <div class="d-md-flex flex-wrap flex-lg-nowrap gutter-md">
      <!-- <aside class="col-md-12 col-lg-1 position-md-relative pt-4 pt-lg-0"></aside> -->
      <!-- <div class="col-md-8 col-lg-8 py-4"> -->
      <div class="col-md-8 col-lg-9 py-4">
        {{ include "index/partials/post-list.html" . }}
      </div>
      <aside class="col-md-4 col-lg-3 py-4">
        {{ include "index/index/index.sidebar.html" }}
      </aside>
    </div>
  </div>
</div>
