<ul class="list-group list-group-flush gf-list-group">
    {{ range $index, $item := .Data.List }} {{ dump $item }}
    <li class="list-group-item gf-list-item">
        <div class="meta-row">
            <ul class="meta-list">
                <li>
                    <a class="author-info" href="/user/{{ $item.User.Id }}">
                        <span class="author-avatar">
                            <img src="{{ $item.User.Avatar }}" alt="{{ .User.Nickname }}的头像" />
                        </span>
                        <span class="author-name">{{ $item.User.Nickname }}</span>
                    </a>
                </li>
                <li class="post-date">{{ $item.Content.CreatedAt | $.BuildIn.FormatTime }}</li>
                <li class="targs">
                    <span>
                        <a href="#">{{ .Category.Name }}</a>
                    </span>
                </li>
            </ul>
        </div>

        <div class="info-row">
            <span>
                <a class="title" href="/{{$item.Category.ContentType}}/{{$item.Content.Id}}">{{$item.Content.Title}}</a>
            </span>
            {{ if $item.Content.Brief }}
            <p class="description"></p>
            {{ end }}
        </div>

        <div class="count-row">
            <ul class="count-list">
                <li>
                    <i class="icon icon-browse"></i>
                    <span>{{ $item.Content.ViewCount }}</span>
                </li>
                <li>
                    <i class="icon icon-comment"></i>
                    <span>{{ $item.Content.ReplyCount }}</span>
                </li>
                <li>
                    <i class="icon icon-good"></i>
                    <span>{{ $item.Content.ZanCount }}</span>
                </li>
                <li>
                    <i class="icon icon-bad"></i>
                    <span>{{ $item.Content.CaiCount }}</span>
                </li>
            </ul>
        </div>
    </li>
    {{ end }}
</ul>

{{if gt .Data.Total .Data.Size}}
<ul class="pagination justify-content-end mt-3" style="max-width: 100%; overflow-x: auto">
    {{.BuildIn.Page .Data.Total .Data.Size }}
</ul>
{{end}}
