<div class="card gf-card">
    <div class="card-header">GF社区</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1114119" target="_blank">
            <span class="icon iconfont">&#xe61c;</span> 官网文档</a></li>
        <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1114133" target="_blank">
            <span class="icon iconfont">&#xe666;</span> 加入我们</a></li>
        <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1115633" target="_blank">
            <span class="icon iconfont">&#xe647;</span> 赞助我们</a></li>
    </ul>
</div>

<div class="card gf-card sponsor-link">
    <div class="card-header">社区赞助商</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="">
            <img style="height: 160px;"
                 src="https://itician.org/download/thumbnails/1114119/jetbrains.png?version=1&modificationDate=1608649325806&api=v2"
                 class="img-fluid"></a></li>
        <li class="list-group-item"><a href="">
            <img style="height: 160px;"
                 src="https://itician.org/download/thumbnails/1114119/u%3D605052180%2C3099422872%26fm%3D11%26gp%3D0.jpg?version=1&modificationDate=1608649343601&api=v2"
                 class="img-fluid"></a></li>
    </ul>
</div>