<!--- footer --->
<footer class="navbar navbar-light" style="height: 300px;background: #1b1c1d;">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">《社区使用指南》</li>
            <li class="list-group-item">《文档撰写指南》</li>
            <li class="list-group-item">《LearnKu 社区规范》</li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">《社区使用指南》</li>
            <li class="list-group-item">《文档撰写指南》</li>
            <li class="list-group-item">《LearnKu 社区规范》</li>
            <li class="list-group-item">《社区使用指南》</li>
            <li class="list-group-item">《文档撰写指南》</li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">《社区使用指南》</li>
            <li class="list-group-item">《文档撰写指南》</li>
            <li class="list-group-item">《LearnKu 社区规范》</li>
            <li class="list-group-item">《社区使用指南》</li>
        </ul>
    </div>
</footer>