<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/plugin/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css?v=${.BuildIn.Random}">
<link rel="stylesheet" href="/plugin/iconfont/iconfont.css?v=${.BuildIn.Random}">
<link rel="stylesheet" href="/css/vditor.css"/>

<script src="/plugin/jquery/jquery-3.5.1.min.js"></script>
<script src="/plugin/bootstrap/popper.min.js"></script>
<script src="/plugin/bootstrap/bootstrap.min.js"></script>
<script src="/plugin/iconfont/iconfont.js?v=${.BuildIn.Random}"></script>
<script src="/plugin/jquery/jquery.form.min.js"></script>
<script src="/plugin/jquery/jquery.validate.min.js"></script>
<script src="/plugin/jquery/sweetalert.min.js"></script>

<script src="/js/common.js?v=${.BuildIn.Random}"></script>
<script src="/js/vditor.js" defer></script>

<title>${.Title}</title>
<meta name="keywords" content="${.Keywords}"/>
<meta name="description" content="${.Description}"/>