<!--- nav --->
<nav class="navbar navbar-expand-lg navbar-light bg-light gf-topnav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand ml-5 " href="#">
        <img src="https://cdn.learnku.com//uploads/communities/sNljssWWQoW6J88O9G37.png!/both/44x44" width="30" height="30" alt="" loading="lazy">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">主题</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">问答</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">文章</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    教程
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">GoFrame入门</a>
                    <a class="dropdown-item" href="#">GoFrame源码</a>
                    <a class="dropdown-item" href="#">GoFrame实战</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div id="noLogin" class="btn-group" role="group" aria-label="First group">
            <a class="btn btn-link" href="javascript:void(0);" onclick="window.location.href='/user/register'">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg> 注册</a>
            <button class="btn btn-link" href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-whatever="@fat"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                </svg> 登录</button>
        </div>
        <div id="login" class="btn-group" role="group" aria-label="First group" style="display:none;">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fly的狐狸
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0);" onclick="window.location.href='user.html'"><span class="iconfont">&#xe647;</span> 个人中心</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick=""><span class="iconfont">&#xe68c;</span> 编辑资料</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="gf.logout();"><span class="iconfont">&#xe6c9;</span> 退出</a>
                </div>
            </div>
        </div>
    </div>

</nav>

<!--登录-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="account-name" class="col-sm-2 col-form-label">帐号:</label>
                        <div class="col-sm-10 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="icon iconfont">&#xe622;</span></div>
                            </div>
                            <input type="text" class="form-control" id="account-name" placeholder="请输入帐号">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwd-text" class="col-sm-2 col-form-label">密码:</label>
                        <div class="col-sm-10 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="icon iconfont">&#xe611;</span></div>
                            </div>
                            <input type="password" class="form-control" id="passwd-text" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" onclick="gf.login();">提交</button>
                        <button type="button" class="btn btn-primary" onclick="gf.login();" style="border-left-color: #5b97d3;"><span class="icon iconfont">&#xe6c9;</span></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-block"><span class="icon iconfont">&#xe600;</span> Github 登录</button>
            </div>
        </div>
    </div>
</div>