<!DOCTYPE html>
<html>
<head>{{include "admin/header.html" .}}</head>
<body class="sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        {{include "admin/navbar.html" .}}
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
        {{include "admin/sidebar.html" .}}
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        {{include .MainTpl .}}
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
        {{include "admin/footer.html" .}}
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

</body>
</html>
