<!-- Brand Logo -->
<a href="#" class="brand-link">
    <img src="/images/logo.png" alt="GoFrame!" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light">GoFrame!</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {{range $index, $item := .BuildIn.AdminMenus}}
                <li class="nav-item {{if $item.Items}}has-treeview{{end}} {{if $item.Active }}menu-open{{end}}">
                    <a href="{{$item.Url}}" class="nav-link {{if $item.Active }}active{{end}}" target="{{$item.Target}}">
                        <i class="nav-icon fas {{$item.Icon}}"></i>
                        <p>{{$item.Name}} {{if $item.Items}}<i class="right fas fa-angle-left"></i>{{end}}</p>
                    </a>
                    {{if $item.Items}}
                        <ul class="nav nav-treeview">
                            {{range $index, $subItem := $item.Items}}
                                <li class="nav-item">
                                    <a href="{{$subItem.Url}}" class="nav-link {{if $subItem.Active }}active{{end}}" target="{{$subItem.Target}}">
                                        <i class="nav-icon fas {{$subItem.Icon}}"></i>
                                        <p>{{$subItem.Name}}</p>
                                    </a>
                                </li>
                            {{end}}
                        </ul>
                    {{end}}
                </li>
            {{end}}
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
