<div class="container-xl clearfix px-3 px-md-4 px-lg-5">
  <div class="detail-content">
    <div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
      <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
        <div class="Box mt-3 position-relative">
          <div class="Box-header py-2 d-flex flex-column flex-shrink-0 flex-md-row flex-md-items-center"></div>
          <div class="Box-body p-5 p-xl-6">
            <article class="markdown-body entry-content container-lg"></article>
          </div>
        </div>
      </div>
      <div class="flex-shrink-0 col-12 col-md-3"></div>
    </div>
  </div>
</div>
