<link rel="stylesheet" href="/plugin/prism/prism.css">
<script src="/plugin/prism/prism.js"></script>
<link rel="stylesheet" href="/plugin/vditor/dist/index.css"/>
<script src="/plugin/vditor/dist/index.min.js" defer></script>
<div class="row gf-content">
    <div class="col-md-9">
        <div class="gf-content-show">
            {{if .BreadCrumb}}
                <nav aria-label="breadcrumb" class="gf-content-breadcrumb ">
                    <ol class="breadcrumb">
                        {{range $index, $item := .BreadCrumb}}
                            <li class="breadcrumb-item {{if not $item.Url}}active{{end}}">
                                {{if $item.Url}}
                                    <a href="{{$item.Url}}">{{$item.Name}}</a>
                                {{else}}
                                    {{$item.Name}}
                                {{end}}
                            </li>
                        {{end}}
                    </ol>
                </nav>
            {{end}}

            <h2 class="gf-title">
                {{.Data.Content.Title}}
            </h2>
            <div class="gf-detail-info">
                <span class="icon iconfont">&#xe660;</span>
                {{.Data.Content.ViewCount}} &nbsp; / &nbsp;
                <span class="icon iconfont">&#xe6ab;</span>
                {{.Data.Content.ReplyCount}} &nbsp; / &nbsp;

                <a href="javascript:void(0);"
                   onclick="javascript:gf.interact.checkZan(this, 'content', {{.Data.Content.Id}})">
                    {{if .BuildIn.DidIZan "content" .Data.Content.Id}}
                        <span class="icon iconfont icon-zan-done"></span> <span
                                class="number">{{.Data.Content.ZanCount}}</span>
                    {{else}}
                        <span class="icon iconfont icon-zan"></span> <span
                                class="number">{{.Data.Content.ZanCount}}</span>
                    {{end}}
                </a>

                &nbsp; / &nbsp;

                <a href="javascript:void(0);"
                   onclick="javascript:gf.interact.checkCai(this, 'content', {{.Data.Content.Id}})">
                    {{if .BuildIn.DidICai "content" .Data.Content.Id}}
                        <span class="icon iconfont icon-cai-done"></span> <span
                                class="number">{{.Data.Content.CaiCount}}</span>
                    {{else}}
                        <span class="icon iconfont icon-cai"></span> <span
                                class="number">{{.Data.Content.CaiCount}}</span>
                    {{end}}
                </a>
                &nbsp; / &nbsp;
                发布于 {{.Data.Content.CreatedAt | .BuildIn.FormatTime}}

                {{if .Context.User}}
                    {{if eq .Data.Content.UserId .Context.User.Id}}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/content/update?id={{.Data.Content.Id}}">编辑</a>
                    {{end}}
                {{end}}
            </div>
            <div class="gf-content markdown-body" id="gf-content">{{.Data.Content.Content}}</div>
        </div>
        <div class="gf-comment-list">
            <ul class="list-group">
                <li class="list-group-item comment-num">共 {{.Data.Content.ReplyCount}} 条回复</li>
                <li class="list-group-item">
                    需要<a href="/user/login" class="btn btn-link">登录</a>
                    后方可回复, 如果你还没有账号请点击这里<a href="/user/register" class="btn btn btn-link">注册</a>。
                </li>
            </ul>
        </div>
        <div class="gf-comment-editor">
            <div id="vditor" class="mt-1"></div>
            <div style="background-color: white;padding: 10px;margin-bottom: 10px;" class="text-right">
                <button class="btn btn-primary btn-submit" type="submit">提交</button>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="gf-content-user">
            <div>
                <a href="/user/{{.Data.User.Id}}" target="_blank">
                    <img class="gf-content-user-img image-border circle-image topic-list-author-avatar"
                         src="{{.Data.User.Avatar}}">
                </a>
            </div>
            <div class="gf-user-detail">
                <h3>
                    <a href="/user/{{.Data.User.Id}}" target="_blank">
                        {{.Data.User.Nickname}}
                    </a>
                    <span class="icon iconfont">{{.BuildIn.GenderFont .Data.User.Gender}}</span>
                </h3>
            </div>
        </div>
        <div class="card gf-card gf-content-toc sticky-top" style="display: none;">
            <div class="card-header"><span class="icon iconfont">&#xe647;</span> 内容目录</div>
            <div id="gf-content-toc"></div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        // 解析Markdown
        $('.markdown-body').each(function (i, block) {
            if ($(block).attr("parsed") == undefined) {
                $(block).html(marked($(block).html()))
                $(block).find('pre code').each(function (i, block) {
                    Prism.highlightElement(block);
                });
                $(block).attr("parsed", "true")
            }
        });
        // 内容目录
        new Toc('gf-content', {
            'level': 4,
            'class': 'toc',
            'targetId': 'gf-content-toc'
        });
        // 仅有内容时才展示
        if ($('#gf-content-toc').text() != "undefined") {
            $('.gf-content-toc').show()
        }

        let editor = new Vditor('vditor', {
            cdn:'/plugin/vditor/',
            theme: 'classic',
            height: 300,
            icon: 'ant',
            cache: {enable: false},
            placeholder: "~请开始你的表演...",
            toolbar: [
                'emoji',
                'headings',
                'bold',
                'italic',
                'strike',
                '|',
                'line',
                'quote',
                'list',
                'ordered-list',
                'check',
                'outdent',
                'indent',
                'code',
                'inline-code',
                'insert-after',
                'insert-before',
                'undo',
                'redo',
                'upload',
                'link',
                'table',
                'fullscreen'
            ],
            upload: {
                // 附件格式
                accept: 'image/*',
                // 上传路径
                url: '/file/upload',
                // 粘贴图片上传
                linkToImgUrl: '/file/upload',
                filename(name) {
                    return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').replace('/\\s/g', '')
                },
                // 格式化上传返回
                format(file, response) {
                    const {code, data, msg} = JSON.parse(response)
                    return JSON.stringify({msg, code, data: {errFiles: [], succMap: {"image.png": data.Url}}})
                }
            },
        });

        $('.btn-submit').on('click', function () {
            if (!editor.getHTML()) return;
            $('button[type=submit]').attr('disabled', 'true');
            jQuery.ajax({
                type: 'POST',
                url: '/reply/do-create',
                data: {
                    parent_id: 0,
                    content: editor.getHTML(),
                    target_id: "{{.Data.Content.Id}}",
                    target_type: "{{.Data.Content.Type}}",
                },
                success: function (r) {
                    $('button[type=submit]').removeAttr('disabled');
                    if (r.code === 0) {
                        swal({text: "评论成功", icon: "warning", button: "确定"});
                    } else {
                        swal({text: r.message, icon: "warning", button: "确定",});
                    }
                },
                error: function (html) {
                }
            });
        })

        jQuery.ajax({
            type: 'GET',
            url: '/reply/index',
            data: {
                size: 30,
                page: 1,
                target_id: "{{.Data.Content.Id}}",
                target_type: "{{.Data.Content.Type}}",
            },
            success: function (r) {
                $('.comment-num').after(r)
            },
            error: function (html) {
            }
        });
    })
</script>
