<style>

</style>
<!--- main --->
<div class="row gf-list">
    <div class="col-md-9">
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-link {{if not $.Query.cate}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm" href="/{{.ContentType}}?sort={{.Query.sort}}">全部</a>
                {{range $index, $item := .BuildIn.CategoryTree .ContentType}}
                <a class="btn btn-link {{if eq $.Query.cate $item.Id}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm" href="/{{$.ContentType}}?cate={{$item.Id}}&sort={{$.Query.sort}}">{{$item.Name}}</a>
                {{end}}
                <div class="float-right">
                <a class="btn btn-link {{if eq .Query.sort 0}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm" href="/{{$.ContentType}}?cate={{.Query.cate}}&sort=0">最新</a>
                <a class="btn btn-link {{if eq .Query.sort 1}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm" href="/{{$.ContentType}}?cate={{.Query.cate}}&sort=1">活跃</a>
                <a class="btn btn-link {{if eq .Query.sort 2}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm" href="/{{$.ContentType}}?cate={{.Query.cate}}&sort=2">热度</a>
                </div>
            </li>

            {{range $index, $item := .Data.List}}
            <li class="list-group-item gf-list-item">
                <div class="gf-list-item-img">
                    <img src="{{$item.User.Avatar}}" style="height: 36px;width:36px;">
                </div>
                <div class="gf-list-item-text">
                    <div class="float-left">
                        <span class="badge badge-primary">{{$item.Category.Name}}</span>
                        <span class="gf-list-item-title">
                            <a  href="/{{$item.Category.ContentType}}/{{$item.Content.Id}}" style="color: #222;">{{$item.Content.Title}}</a>
                        </span>
                    </div>
                    <div class="float-right">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">
                            <span class="icon iconfont">&#xe660;</span> {{$item.Content.ViewCount}}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="icon iconfont">&#xe6ab;</span> {{$item.Content.ReplyCount}}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        </span>
                        <span style="font-size: 12px;color: #ccc;">{{$item.Content.CreatedAt | $.BuildIn.FormatTime}}</span>
                    </div>
                </div>
            </li>
            {{end}}

            {{if gt .Data.Total .Data.Size}}
            <li class="list-group-item gf-list-item">
                <ul class="pagination">
                    {{.BuildIn.Page .Data.Total .Data.Size }}
                </ul>
            </li>
            {{end}}
        </ul>
    </div>

    <div class="col-md-3">

        <div class="card gf-card" style="background: #fff;padding: 10px;">
            <a class="btn btn-primary" href="/content/create?type={{.ContentType}}">发布内容</a>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1114119" target="_blank"><span class="icon iconfont">&#xe61c;</span> 官网文档</a></li>
                <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1114133" target="_blank"><span class="icon iconfont">&#xe666;</span> 加入我们</a></li>
                <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1115633" target="_blank"><span class="icon iconfont">&#xe647;</span> 赞助我们</a></li>
            </ul>
        </div>

        <div class="card gf-card sponsor-link">
            <div class="card-header">社区赞助商</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href=""><img style="height: 160px;" src="https://itician.org/download/thumbnails/1114119/jetbrains.png?version=1&modificationDate=1608649325806&api=v2" class="img-fluid"></a></li>
                <li class="list-group-item"><a href=""><img style="height: 160px;" src="https://itician.org/download/thumbnails/1114119/u%3D605052180%2C3099422872%26fm%3D11%26gp%3D0.jpg?version=1&modificationDate=1608649343601&api=v2" class="img-fluid"></a></li>
            </ul>
        </div>
    </div>
</div>
