<div class="col-xl-6 offset-xl-3">
    <div class="card shadow-sm mt-4">
        <div class="card-header">
            <b>
                <i class="icon icon-user-add" style="font-size: 20px"></i>
                <span>用户注册</span>
            </b>
        </div>
        <div class="card-body">
            <form id="registerForm" action="/register/do" method="post">
                <div class="form-group row">
                    <label for="passport" class="col-md-3 d-none d-md-block col-form-label required text-right">账号:</label>
                    <div class="col-md-9 col-sm-12">
                        <input type="text" class="form-control" minlength="3" maxlength="20" name="passport" placeholder="请输入账号" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nickname" class="col-md-3 d-none d-md-block col-form-label required text-right">昵称:</label>
                    <div class="col-md-9 col-sm-12">
                        <input type="text" class="form-control" minlength="2" maxlength="20" name="nickname" placeholder="请输入昵称" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-md-3 d-none d-md-block col-form-label required text-right">密码:</label>
                    <div class="col-md-9 col-sm-12">
                        <input type="password" class="form-control" minlength="6" maxlength="20" id="password" name="password" placeholder="请输入密码" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password2" class="col-md-3 d-none d-md-block col-form-label required text-right">确认密码:</label>
                    <div class="col-md-9 col-sm-12">
                        <input type="password" class="form-control" minlength="6" maxlength="20" name="password2" placeholder="请再次输入密码" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="code" class="col-md-3 d-none d-md-block col-form-label required text-right">验证码:</label>
                    <div class="col-md-9 col-sm-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" minlength="4" maxlength="4" name="captcha" placeholder="请输入正确的验证码" required />
                            <div class="input-group-append">
                                <span class="input-group-text" style="cursor: pointer; padding: 0">
                                    <img id="code-img" class="captcha" loading="lazy" onclick="gf.reloadCaptcha()" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 col-sm-12 offset-md-3">
                        <button type="submit" class="btn btn-primary btn-block">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
