<link rel="stylesheet" href="//at.alicdn.com/t/font_2163953_1ujsy8xmzc.css" />
<link rel="stylesheet" href="/plugin/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="/css/common.css" />

<script src="/plugin/jquery/jquery.min.js"></script>
<script src="/plugin/bootstrap/bootstrap.min.js"></script>
<script src="/plugin/bootstrap/popper.min.js"></script>
<script src="/plugin/jquery/sweetalert.min.js"></script>

<script src="/js/encrypt/md5.js"></script>

<script src="/plugin/jquery/jquery.form.min.js"></script>
<script src="/plugin/jquery/jquery.validate.min.js"></script>

<script src="/js/common.js"></script>
