<div class="list-header shadow-sm sticky-top">
    <ul class="list-sort">
        <li class="flex-grow-1">
            <p class="m-0"><i class="icon icon-search mx-1"></i>为您找到 <strong class="text-primary">{{.Data.Total}}</strong> 条关于 <strong class="text-danger">{{.Query.key}}</strong> 的内容</p>
        </li>
        <li><b class="text-muted">排序：</b></li>
        <li><a class="sort-link{{if eq .Query.sort 0}} active{{end}}" href="/search?key={{.Query.key}}&type={{.Query.type}}&sort=0">最新</a></li>
        <li><a class="sort-link{{if eq .Query.sort 1}} active{{end}}" href="/search?key={{.Query.key}}&type={{.Query.type}}&sort=1">活跃</a></li>
        <li><a class="sort-link{{if eq .Query.sort 2}} active{{end}}" href="/search?key={{.Query.key}}&type={{.Query.type}}&sort=2">热度</a></li>
    </ul>
</div>

{{ include "index/index/list-group.html" .}}
