<div class="card mb-2">
    <div class="card-header">
        <b>内容统计</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="stretched-link" href="/search?key={{.Query.key}}">
                <i class="icon icon-genderless"></i>
                <span>综合</span>
            </a>
            <span class="badge badge-primary float-right mt-1">{{ .Data.Total }}</span>
        </li>

        <!-- 相关主题 -->
        {{if .Data.Stats.topic}}
        <li class="list-group-item">
            <a class="stretched-link" href="/search?key={{.Query.key}}&type=topic">
                <i class="icon icon-topic"></i>
                <span>主题</span>
            </a>
            <span class="badge badge-primary float-right mt-1">{{ .Data.Stats.topic }}</span>
        </li>
        {{end}}

        <!-- 相关文章 -->
        <li class="list-group-item">
            <a class="stretched-link" href="/search?key={{.Query.key}}&type=article">
                <i class="icon icon-article"></i>
                <span>文章</span>
            </a>
            <span class="badge badge-primary float-right mt-1">{{ .Data.Stats.article }}</span>
        </li>

        <!-- 相关问答 -->
        <li class="list-group-item">
            <a class="stretched-link" href="/search?key={{.Query.key}}&type=ask">
                <i class="icon icon-ask"></i>
                <span>问答</span>
            </a>
            <span class="badge badge-primary float-right mt-1">{{ .Data.Stats.ask }}</span>
        </li>
    </ul>
</div>
