<style>

</style>
<!--- main --->
<div class="row gf-list">
    <div class="col-md-7 offset-md-1">
        <ul class="list-group">
            <li class="list-group-item">
                ${range $index, $item := .BuildIn.CategoryTree "topic"}
                <a class=" btn btn-link text-secondary top-node-btn btn-sm" href="/topic?cate=${$item.Id}">${$item.Name}</a>
                ${end}
                <a class=" btn btn-link text-secondary top-node-btn btn-sm" href="/topic?cate=${.Query.cate}&sort=0">最新</a>
                <a class=" btn btn-link text-secondary top-node-btn btn-sm" href="/topic?cate=${.Query.cate}&sort=1">活跃</a>
                <a class=" btn btn-link text-secondary top-node-btn btn-sm" href="/topic?cate=${.Query.cate}&sort=2">热度</a>
            </li>

            ${range $index, $item := .Data.List}
            <li class="list-group-item gf-list-item">
                <div style="width:7%;float: left;">
                    <img src="${$item.User.Avatar}" style="height: 36px;width:36px;">
                </div>
                <div style="width: 93%;float: left;padding-top: 5px;padding-left: 5px;">
                    <div style="float: left;">
                        <span class="badge badge-primary" style="padding:5px;">${$item.Category.Name}</span>
                        <span style="font-size: 16px;line-height: 130%;text-shadow: 0 1px 0 #fff;">
                            <a  href="/${$item.Category.ContentType}/${$item.Content.Id}" style="color: #222;">${$item.Content.Title}</a>
                        </span>
                    </div>
                    <div style="float: right;">
                        <span style="font-size: 12px;color: #ccc;text-align: right;">回复数 10 |</span>
                        <span style="font-size: 12px;color: #ccc;">10天前</span>
                    </div>
                </div>
            </li>
            ${end}


            <li class="list-group-item gf-list-item">
                <ul class="pagination">
                ${.BuildIn.Page .Data.Total .Data.Size }
                </ul>
            </li>

<!--
            <li class="list-group-item gf-list-item">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><span class="page-link active">4</span></li>
                        <li class="page-item"><span class="page-link disabled">5</span></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>
-->
        </ul>
    </div>

    <div class="col-md-3">

        <div class="card gf-card" style="background: #fff;padding: 10px;">
            <a class="btn btn-primary" onclick="window.location.href='/article/publish'" href="javascript:void(0);">发布帖子</a>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>


        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>

        <div class="card gf-card">
            <div class="card-header">GF社区</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="icon iconfont">&#xe61c;</span> <a href="">提问的智慧</a></li>
                <li class="list-group-item"><span class="icon iconfont">&#xe647;</span> <a href="">加入我们</a></li>
            </ul>
        </div>
    </div>
</div>