<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>用户信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">个人中心</a></li>
                    <li class="breadcrumb-item active">用户信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{{ .Data.Avatar}}"
                                 alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">{{ .Data.Nickname}}</h3>
                        <p class="text-muted text-center">就是这么无敌</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>性别</b> <a class="float-right">{{if eq .Data.Gender 1}}男{{else if eq .Data.Gender 2}}女{{else}}位置{{end}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>邮箱</b> <a class="float-right">goframe@goframe.com</a>
                            </li>
                            <li class="list-group-item">
                                <b>所属部门</b> <a class="float-right">三国</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#profileTab"
                                                    data-toggle="tab">个人信息</a></li>
                            <li class="nav-item"><a class="nav-link" href="#passwordTab" data-toggle="tab">修改密码</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#avatarTab" data-toggle="tab">修改头像</a>
                            </li>

                        </ul>
                    </div><!-- /.card-header -->


                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="profileTab">
                                <!-- Post -->
                                <form id="profileForm" class="form-horizontal" action="/admin/user/update-profile"
                                      method="post">
                                    <div class="form-group row">
                                        <label for="nickname" class="col-sm-2 col-form-label">昵称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="nickname" minlength="3"
                                                   maxlength="20" name="nickname" value="{{ .Data.Nickname}}" placeholder="请输入昵称" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-2 col-form-label">性别</label>
                                        <div class="col-sm-10">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="gender0"  {{if eq .Data.Gender 0}}checked{{end}} name="gender" value="0"  required>
                                                <label class="form-check-label" for="gender0">未知</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="gender1" {{if eq .Data.Gender 1}}checked{{end}} name="gender" value="1">
                                                <label class="form-check-label" for="gender1">男</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="gender2" {{if eq .Data.Gender 2}}checked{{end}} name="gender" value="2">
                                                <label class="form-check-label" for="gender2">女</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">保存</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="passwordTab">
                                <form id="passwordForm" class="form-horizontal" action="/admin/user/update-password"
                                      method="post">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">帐号</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control" id="nickname"
                                                   name="nickname" value="{{.Data.Nickname}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">原始密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="oldPassword" minlength="6"
                                                   maxlength="20"
                                                   placeholder="请输入原始密码" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">新密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="newPassword"
                                                   name="newPassword" minlength="6" maxlength="20"
                                                   placeholder="请输入新密码" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">重复新密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="newPassword2"
                                                   minlength="6" maxlength="20"
                                                   placeholder="请再次输入新密码" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="avatarTab">
                                <form id="avatarForm" enctype="multipart/form-data" action="/user/update-avatar"
                                      method="post">
                                    <input type="hidden" class="form-control" name="nickname"
                                           value="{{ .Data.Nickname}}">
                                    <div id="image-preview-div">
                                        <img id="preview-img" class="avatar-preview-img image-border "
                                             src="{{ .Data.Avatar}}" width="320">
                                    </div>
                                    <div class="form-group">
                                        <label for="avatarFile">请选择图片</label>
                                        <input name="file" type="file" accept="image/png, image/jpeg"
                                               class="form-control-file" id="avatarFile" required>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary btn-block">上传头像</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script type="text/javascript">
    jQuery(function ($) {

        $('#profileForm').validate({
            errorElement: 'div',
            errorClass: 'validation-error-block',
            focusInvalid: true,
            rules: {},
            messages: {
                nickname: {
                    required: "请输入昵称"
                },
            },
            submitHandler: function (form) {
                $('button[type=submit]').attr('disabled', 'true');
                jQuery(form).ajaxSubmit({
                    dataType: 'json',
                    success: function (r, textStatus) {
                        if (r.code == 0) {
                            Swal.fire({
                                text: "修改成功",
                                icon: "success",
                                button: "确定"
                            });
                        } else {
                            if (r.message != "") {
                                Swal.fire({
                                    text: r.message,
                                    icon: "warning",
                                    button: "确定"
                                });
                            }
                        }
                    }
                });
                $('button[type=submit]').removeAttr('disabled');
            },
            errorPlacement: function (error, element) {
                element.addClass("is-invalid")
                error.appendTo(element.parent());
            }
        });

        $('#passwordForm').validate({
            errorElement: 'div',
            errorClass: 'validation-error-block',
            focusInvalid: true,
            rules: {
                newPassword2: {
                    equalTo: "#newPassword"
                },
            },
            messages: {
                newPassword2: {
                    equalTo: "输入的新密码两次不同"
                },
            },
            submitHandler: function (form) {
                $('button[type=submit]').attr('disabled', 'true');
                // 传输加密
                let oldPassword = $('[name="oldPassword"]').val();
                let newPassword = $('[name="newPassword"]').val();
                $('[name="oldPassword"]').val(hex_md5('{{.Context.User.Passport}}' + oldPassword));
                $('[name="newPassword"]').val(hex_md5('{{.Context.User.Passport}}' + newPassword));

                jQuery(form).ajaxSubmit({
                    dataType: 'json',
                    success: function (r, textStatus) {
                        if (r.code == 0) {
                            Swal.fire({
                                text: "修改成功",
                                icon: "success",
                                button: "确定"
                            });
                        } else {
                            if (r.message != "") {
                                Swal.fire({
                                    text: r.message,
                                    icon: "warning",
                                    button: "确定"
                                });
                            }
                        }
                        $('[name="oldPassword"]').val('');
                        $('[name="newPassword"]').val('');
                        $('[name="newPassword2"]').val('');
                    }
                });
                $('button[type=submit]').removeAttr('disabled');
            },
            errorPlacement: function (error, element) {
                element.addClass("is-invalid")
                error.appendTo(element.parent());
            }
        });

        $('#avatarForm').validate({
            errorElement: 'div',
            errorClass: 'validation-error-block',
            focusInvalid: true,
            submitHandler: function (form) {
                $('button[type=submit]').attr('disabled', 'true');

                jQuery(form).ajaxSubmit({
                    success: function (r, textStatus) {
                        if (r.code == 0) {
                            Swal.fire({
                                text: "上传成功",
                                icon: "success",
                                button: "确定"
                            });
                        } else {
                            if (r.message != "") {
                                Swal.fire({
                                    text: r.message,
                                    icon: "warning",
                                    button: "确定"
                                });
                            }
                        }
                    }
                });
                $('button[type=submit]').removeAttr('disabled');
            },
            errorPlacement: function (error, element) {
                element.addClass("is-invalid")
                error.appendTo(element.parent());
            }
        });
    });
</script>