<div class="row">
    <div class="col-md-6 offset-md-3 gf-register">
        <div class="card">
            <div class="card-header">
                <span class="iconfont">&#xe647;</span> 用户注册
            </div>
            <div class="card-body">
                <form id="registerForm" action="/register/do" method="post">
                    <div class="form-group row">
                        <label for="passport" class="col-sm-3 col-form-label required text-right">账号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="passport" placeholder="请输入账号">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nickname" class="col-sm-3 col-form-label required text-right">昵称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="nickname" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label required text-right">密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password2" class="col-sm-3 col-form-label required text-right">确认密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password2" placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label required text-right">验证码</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="captcha" placeholder="请输入正确的验证码">
                                <div class="input-group-append">
                                    <span class="input-group-text" style="cursor: pointer;padding: 0;">
                                        <img id="code-img" class="captcha" loading="lazy" onclick="gf.reloadCaptcha()">
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-text notice" style="color: red;"></div>
                    <div class="form-group row">
                        <div class="col-sm-3 offset-md-3">
                            <button type="submit" class="btn btn-primary btn-block">注册</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

<!-- 注册成功提示Modal -->
<div class="modal fade" id="modalRegister" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">注册成功</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="iconfont" style="color:green;font-size: 18px;">&#xe615;</span> 恭喜您，<span id="register-passport"></span>账号注册成功
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(function($) {
    gf.reloadCaptcha();
    $('#registerForm').validate({
        errorElement: 'div',
        errorClass: 'validation-error-block',
        focusInvalid: true,
        rules: {
            passport: {
                required: true
            },
            password: {
                required: true
            },
            password2: {
                required: true
            },
            nickname: {
                required: true
            },
            captcha: {
                required: true
            }
        },
        messages: {
            passport: {
                required: "请输入账号"
            },
            password: {
                required: "请输入密码"
            },
            password2: {
                required: "请确认密码"
            },
            nickname: {
                required: "请确认昵称"
            },
            captcha: {
                required: "请确认验证码"
            }
        },
        submitHandler: function(form) {
            $('button[type=submit]').attr('disabled', 'true');
            jQuery(form).ajaxSubmit({
                dataType: 'json',
                success:  function (r, textStatus) {
                    if (r.message != "") {
                        alert(r.message)
                    }
                    if (r.code == 0) {
                        if (r.redirect != "") {
                            window.location.href = r.redirect;
                        } else {
                            window.location.href = "/";
                        }
                    } else {
                        gf.reloadCaptcha();
                    }
                }
            });
            $('button[type=submit]').removeAttr('disabled');
        },
        errorPlacement: function (error, element) {
            element.addClass("is-invalid")
            error.appendTo(element.parent());
        }
    });
});
</script>
